.container {
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.spacer {
  width: 100%;
  margin: 0 auto;
  padding-top:4px;
  clear:both;
}


.menubar {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.menubar div {
  padding-bottom:5px;

  margin: 0 auto;
  overflow: hidden;

  font-size: 80%;
  font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;

  float:left;
}

.menubar .title {
  float: left;
  padding-right: 20px;

  font-size: 110%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;

  vertical-align: bottom;
}

.menubar .menu_actions {
  float: left;
  position:relative;
  top: 4px;
}

.menubar .menu_legend {
  float: right;
  position:relative;
  top: 4px;

}

h3.sectionHeader {
  color: black;
  font-size: 110%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: lightgrey;
}

.success {
  color: green;
}

.shortCircuited {
  color: blue;
}

.timeout {
  color: #FF9900;	 /* shade of orange */
}

.failure {
  color: red;
}

.rejected {
  color: purple;
}

.exceptionsThrown {
  color: brown;
}

.badRequest {
  color: lightSeaGreen;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

#streamHeader {
  height: 65px;
  margin-bottom: 5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#streamHeader  h2 {
  float:left;
  color: black;
  position:relative;
  padding-left: 20px;
  top: 26px;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#hystrix-header {
  background: #FFFFFF url(../images/hystrix-logo-tagline-tiny.png) no-repeat scroll 99% 0%;
  height: 65px;
  margin-bottom: 5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1;
}

#hystrix-header h2 {
  float:left;
  color: black;
  position:relative;
  padding-left: 20px;
  top: 26px;
  font-size: 20px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

//////////////////////////////
.hystrix-container {
  padding-left: 20px;
  padding-right: 20px;
  margin:0;
  line-height: 1;
}

.hystrix-row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hystrix-spacer {
  width: 100%;
  margin: 0 auto;
  padding-top:4px;
  clear:both;
}

.hystrix-last {
  margin-right: 0px;
}

.hystrix-menubar {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.hystrix-menubar div {
  padding-bottom:5px;

  margin: 0 auto;
  overflow: hidden;

  font-size: 80%;
  font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;

  float:left;
}

.hystrix-menubar .title {
  float: left;
  padding-right: 20px;

  font-size: 110%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;

  vertical-align: bottom;
}

.hystrix-menubar .menu_actions {
  float: left;
  position:relative;
  top: 4px;
}

.hystrix-menubar .menu_legend {
  float: right;
  position:relative;
  top: 4px;

}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}